.herosection-image {
    width:100%;
    background-color:grey;
    background-image: url('/public/images/dragon-plate.webp');
    background-size:100%;
    background-position: 5% 30%;
    background-repeat:no-repeat;
    height:600px;
}
ul {
    margin:0px;
}